{% extends "base.html" %}


  {% block content %}  
  {% include "logo.html" %}
      <div> 
        <div class="container pt-5">
          <div>
            
            <div class="grid grid-cols-3 gap-10">
              <div class="bg-white shadow-md min-w-64 min-h-32 mx-auto border border-gray-200 "><div class="grid-flow-row px-4 py-2 bg-emerald-900 text-white text-center">Budget</div><p class="text-center m-7"> {{ budget }} FCFA</p></div>
              <div class="bg-white shadow-md min-w-64 min-h-32 mx-auto border border-gray-200 "><div class="grid-flow-row px-4 py-2 bg-emerald-900 text-white text-center">Dépenses</div><p class="text-center m-7">{{ total_deps }} FCFA</p></div>
              <div class="bg-white shadow-md min-w-64 min-h-32 mx-auto border border-gray-200 "><div class="grid-flow-row px-4 py-2 bg-emerald-900 text-white text-center">Solde</div><p class="text-center m-7"> {{ solde }} FCFA</p></div>
            </div>
            
          </div>
          <br>
          <div class="pl-11">
            {% include "layouts.html" %}
          </div>
          <div>
            {% include "depense/index_depense.html" %}
          </div>

          <br>
          <div>
            {% include "revenu/index_revenu.html" %}
          </div>
          

        </div>  
             
    </div>
  {% endblock content %}

