{% extends "./base.html" %}

{% block content %}


<div class="pl-11 pr-10">
  {% with messages = get_flashed_messages() %}

  {% if messages %}
  <ul class=flashes>
  {% for message in messages %}

  <div class="alert alert-success bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                
    <span class="block sm:inline font text-xl"><li>{{ message }}</li></span>
    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
      <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
    </span>
  </div>



  {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  
    <h1 class="font text-2xl mb-4 text-[#D1C000]">Liste des depenses</h1>
    
    
    
    <table class="border-collapse border border-slate-300 inline-table w-full">
        <thead>
          <tr>
            
            <th class="border border-slate-300 px-4 py-2 bg-emerald-900 text-white text-left">TITRE</th>
            <th class="border border-slate-300 px-4 py-2 bg-emerald-900 text-white text-left">MONTANT</th>
            <th class="border border-slate-300 px-4 py-2 bg-emerald-900 text-white text-left">ACTION</th>
            
           
          </tr>
        </thead>
        {% for depense in depenses %}
        <tbody>
          <tr>
            <td class="border border-slate-300 px-4 py-2 "><a class="hover:text-[#D1C000]" href="/update/{{depense.titre_montant}}">{{ depense.titre_depense }}</a></td>
            <td class="border border-slate-300 px-4 py-2"><a class="hover:text-[#D1C000]" href="">{{ depense.montant_depense}}</a></td>
           
            <td class="border border-slate-300 px-4 py-2">
              <a href="/delete_depense/{{depense.id}}/" 
              class="bg-red-500 hover:bg-red-600 active:bg-red-700 focus:outline-none focus:ring focus:ring-violet-300 p-2 rounded text-white">
                Supprimer
              </a>
             
            </td>
          </tr>
        </tbody>
        {% endfor %}
        <tr>
          <td class="border border-slate-300 px-4 py-2">
            <div>
              <a href="/create_dep" class="flex flex-wrap text-[#D1C000]">AJOUTER DEPENSE
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="float-right size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>

              </a>
            </div> 
          </td>
         </tr>
      </table>

  </div> 
{% endblock %}
 